modules = ["cpp-clang20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libclang", "llvmPackages.libclang"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run"

[[workflows.workflow]]
name = "Build and Run"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make clean && make && echo \"--- Build successful ---\" && echo \"\" && echo \"Usage: ./cpp-splitter <input.cpp> [output_dir] [--compile] [-o binary] [-- <clang_flags>]\" && echo \"\" && echo \"--- Demo: Split, compile and run test/sample.cpp ---\" && rm -rf output && ./cpp-splitter test/sample.cpp output --compile -o sample_app && echo \"\" && echo \"--- Running the compiled binary ---\" && ./sample_app"
